.container {
	max-width: 1276px;
	margin: 0 auto;
	padding: 0 15px;
}
.title {
	color: black;
	font-family: Poppins;
	font-size: clamp(1.125rem, 1.881vw, 1.5rem);
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	margin-top: 217px;
	span {
		display: block;
		font-family: Poppins;
		font-size: clamp(2.25rem, 3.762vw, 3rem);
		font-weight: 700;
		line-height: clamp(60px, 5.643vw, 72px);
	}
}
.order_btn {
	border: 1px solid black;
	display: block;
	margin: 33px auto 0;
	width: clamp(180px, 19.984vw, 255px);
	height: clamp(45px, 5.016vw, 64px);
	p {
		font-family: Poppins;
		font-size: clamp(1rem, 1.567vw, 1.25rem);
		font-weight: 400;
		line-height: 1.5;
		text-align: center;
		padding-top: clamp(10px, 1vw, 16px);
	}
}
@media (max-width: 956px) {
	.text {
		order: 1;
		margin: 0 auto;
	}
	.img {
		order: 2;
		margin: 50px auto 30px;
		padding: 0;
	}
	.title {
		margin: 20px 0 0;
	}
	.order_btn {
		margin: 10px auto 0;
	}
}
