.catalog {
	max-width: 1272px;
	margin: 0 auto;
	padding: 0 15px;
}
.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}
.flex {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.name {
	font-family: Poppins;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}
.price {
	font-family: Poppins;
	font-size: clamp(1.25rem, 1.887vw, 1.5rem);
	font-weight: 500;
	line-height: 1.5;
}
.btn,
.btn_next {
	width: 60px;
	height: 60px;
	border-radius: 10px;
	background: rgb(255, 249, 230);
	font-family: Poppins;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.5;
}
.active {
	background-color: #fbebb5;
}
.btn_next {
	width: 98px;
	height: 60px;
	left: 818px;
	border-radius: 10px;
	background: rgb(255, 249, 230);
}
.hidden {
	display: none;
}
.product_img {
	margin: 0 auto;
}

@media (max-width: 1110px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
	.name {
		text-align: center;
	}
	.price {
		text-align: center;
	}
}
@media (max-width: 905px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 905px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 500px) {
	.grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
