.container {
	max-width: 1058px;
	margin: 0 auto;
	padding: 0 15px;
}
.shop_link,
.home_link {
	color: rgb(159, 159, 159);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.line {
	width: 37px;
	height: 0;
	transform: rotate(90deg);
	border: 2px solid rgb(159, 159, 159);
}
.name {
	color: rgb(0, 0, 0);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: left;
}
.img {
	padding-right: 20px;
	img {
		background-color: #fff9e5;
		border-radius: 10px;
	}
}
.text {
	max-width: 424px;
	margin-right: 76px;
}
.title {
	font-family: Poppins;
	font-size: 42px;
	font-weight: 400;
	line-height: 63px;
}
.price {
	color: rgb(159, 159, 159);
	font-family: Poppins;
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 53px;
}
.description {
	color: rgb(0, 0, 0);
	font-family: Poppins;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: left;
}
.size {
	margin-top: 22px;
	margin-bottom: 12px;
	color: rgb(159, 159, 159);
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}
.size_btns {
	button {
		border-radius: 5px;

		background: rgb(250, 244, 244);
		width: 30px;
		height: 30px;
		color: rgb(0, 0, 0);
		font-family: Poppins;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0%;
		text-align: center;
	}
}
.active_size {
	background-color: red;
}
.color {
	color: rgb(159, 159, 159);
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	margin-top: 18px;
	margin-bottom: 12px;
}

.color_btn {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}
.btn_plus,
.btn_minus {
	cursor: pointer;
}
.quantity_btn {
	width: 123px;
	height: 64px;
	border: 1px solid #9f9f9f;
	border-radius: 10px;
	font-size: 16px;
	padding: 20px 12px 20px 15px;
	user-select: none;
}
.quantity {
	position: absolute;
	top: 20px;
	left: 55px;
}
.btn_add {
	font-family: Poppins;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 15px;
	width: 215px;
	height: 64px;
	text-align: center;
}
@media (max-width: 973px) {
	.body {
		justify-content: center;
	}
	.img {
		margin-bottom: 20px;
	}
}
