.forms {
	margin-top: 98px;
	margin-bottom: 125px;
}
.container {
	max-width: 1118px;
	margin: 0 auto;
	padding: 0 15px;
}
@media (max-width: 936px) {
	.row {
		justify-content: center;
		gap: 40px;
	}
}
